body{
    background-color: rgb(38, 252, 38);
}

h1{
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bold;
    font-size: 100px;
}

h3{
    text-align: center;
    font-size: 50px;
}

#botao{
    text-align: center;
}

#botao button {
    width: 200px;          /* Largura aumentada */
    height: 70px;          /* Altura aumentada */
    border-radius: 80px;
    background-color: orange;
    color: white;
    font-weight: bold;
}

#botao button:hover{
    background-color: rgb(216, 130, 0);
    font-weight: bold;
    color: white;
}